language: node_js
node_js:
  - lts/erbium

services:
  - mongodb

before_script:
  - sleep 15

after_script:
  - yarn run test:report

env:
  - NODE_ENV=test DB_URL=mongodb://127.0.0.1:27017 DB_NAME=complains-test
